@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-fast {
  animation: fadeInDown 0.5s ease-out forwards;
}
